* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.Calc {
    background-color: #dbdbdb;
    padding: 12px;
    border-radius: 3px;
}

.vvd {
    text-align: right;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    padding: 0 16px;
}

.knpk {
    width: 48px;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    color: #333;
    cursor: pointer;
    border-radius: 50%;
    margin: 8px;
    background-color: #c5c5c5;
    transition: opacity ease .25s;
}

.knpk:hover {
    opacity: .75;
}

.knpk_func {
    color: white;
    background-color: #333;
}

.knpk_vvd {
    color: white;
    background-color: rgb(255, 81, 0);
}